plugins/
Recipe.conf
.built
vera-0.0.1.tar.bz2
vera_0.0.1.orig.tar.gz
vera_0.0.1-0.debian.tar.gz
vera_0.0.1-0.dsc
vera_0.0.1-0_source.changes
vera_0.0.1-0_amd64.deb
vera-0.0.1.tar.gz
vera-0.0.1.tar.xz
vera.pot
vera-0.20.tar.bz2
vera_0.20.orig.tar.gz
vera_0.20-0.debian.tar.gz
vera_0.20-0.dsc
vera_0.20-0_source.changes
vera_0.20-0_amd64.deb
vera-0.20.tar.gz
vera-0.20.tar.xz
vera-0.21.tar.bz2
vera_0.21.orig.tar.gz
vera_0.21-0.debian.tar.gz
vera_0.21-0.dsc
vera_0.21-0_source.changes
vera_0.21-0_amd64.deb
vera-0.21.tar.gz
vera-0.21.tar.xz
vera-0.22.tar.bz2
vera_0.22.orig.tar.gz
vera_0.22-0.debian.tar.gz
vera_0.22-0.dsc
vera_0.22-0_source.changes
vera_0.22-0_amd64.deb
vera-0.22.tar.gz
vera-0.22.tar.xz
vera-0.23.tar.bz2
vera_0.23.orig.tar.gz
vera_0.23-0.debian.tar.gz
vera_0.23-0.dsc
vera_0.23-0_source.changes
vera_0.23-0_amd64.deb
vera-0.23.tar.gz
vera-0.23.tar.xz
vera-0.24.tar.bz2
vera_0.24.orig.tar.gz
vera_0.24-0.debian.tar.gz
vera_0.24-0.dsc
vera_0.24-0_source.changes
vera_0.24-0_amd64.deb
vera-0.24.tar.gz
vera-0.24.tar.xz
vera-0.25.tar.bz2
vera_0.25.orig.tar.gz
vera_0.25-0.debian.tar.gz
vera_0.25-0.dsc
vera_0.25-0_source.changes
vera_0.25-0_amd64.deb
vera-0.25.tar.gz
vera-0.25.tar.xz
vera-0.26.tar.bz2
vera_0.26.orig.tar.gz
vera_0.26-0.debian.tar.gz
vera_0.26-0.dsc
vera_0.26-0_source.changes
vera_0.26-0_amd64.deb
vera-0.26.tar.gz
vera-0.26.tar.xz
vera-0.27.tar.bz2
vera_0.27.orig.tar.gz
vera_0.27-0.debian.tar.gz
vera_0.27-0.dsc
vera_0.27-0_source.changes
vera_0.27-0_amd64.deb
vera-0.27.tar.gz
vera-0.27.tar.xz
vera-0.28.tar.bz2
vera_0.28.orig.tar.gz
vera_0.28-0.debian.tar.gz
vera_0.28-0.dsc
vera_0.28-0_source.changes
vera_0.28-0_amd64.deb
vera-0.28.tar.gz
vera-0.28.tar.xz
vera-0.29.tar.bz2
vera_0.29.orig.tar.gz
vera_0.29-0.debian.tar.gz
vera_0.29-0.dsc
vera_0.29-0_source.changes
vera_0.29-0_amd64.deb
vera-0.29.tar.gz
vera-0.29.tar.xz
vera-0.30.tar.bz2
vera_0.30.orig.tar.gz
vera_0.30-0.debian.tar.gz
vera_0.30-0.dsc
vera_0.30-0_source.changes
vera_0.30-0_amd64.deb
vera-0.30.tar.gz
vera-0.30.tar.xz
vera-0.31.tar.bz2
vera_0.31.orig.tar.gz
vera_0.31-0.debian.tar.gz
vera_0.31-0.dsc
vera_0.31-0_source.changes
vera_0.31-0_amd64.deb
vera-0.31.tar.gz
vera-0.31.tar.xz
vera-0.32.tar.bz2
vera_0.32.orig.tar.gz
vera_0.32-0.debian.tar.gz
vera_0.32-0.dsc
vera_0.32-0_source.changes
vera_0.32-0_amd64.deb
vera-0.32.tar.gz
vera-0.32.tar.xz
vera-0.33.tar.bz2
vera_0.33.orig.tar.gz
vera_0.33-0.debian.tar.gz
vera_0.33-0.dsc
vera_0.33-0_source.changes
vera_0.33-0_amd64.deb
vera-0.33.tar.gz
vera-0.33.tar.xz
vera-0.34.tar.bz2
vera_0.34.orig.tar.gz
vera_0.34-0.debian.tar.gz
vera_0.34-0.dsc
vera_0.34-0_source.changes
vera_0.34-0_amd64.deb
vera-0.34.tar.gz
vera-0.34.tar.xz
vera-0.35.tar.bz2
vera_0.35.orig.tar.gz
vera_0.35-0.debian.tar.gz
vera_0.35-0.dsc
vera_0.35-0_source.changes
vera_0.35-0_amd64.deb
vera-0.35.tar.gz
vera-0.35.tar.xz
vera-0.35-1.x86_64.rpm
vera-0.36.tar.bz2
vera_0.36.orig.tar.gz
vera_0.36-0.debian.tar.gz
vera_0.36-0.dsc
vera_0.36-0_source.changes
vera_0.36-0_amd64.deb
vera-0.36.tar.gz
vera-0.36-1.x86_64.rpm
vera-0.36.tar.xz
vera-0.37.tar.bz2
vera_0.37.orig.tar.gz
vera_0.37-0.debian.tar.gz
vera_0.37-0.dsc
vera_0.37-0_source.changes
vera_0.37-0_amd64.deb
vera-0.37.tar.gz
vera-0.37-1.x86_64.rpm
vera-0.37.tar.xz
vera-0.38.tar.bz2
vera_0.38.orig.tar.gz
vera_0.38-0.debian.tar.gz
vera_0.38-0.dsc
vera_0.38-0_source.changes
vera_0.38-0_amd64.deb
vera-0.38.tar.gz
vera-0.38-1.x86_64.rpm
vera-0.38.tar.xz
vera-0.39.tar.bz2
vera_0.39.orig.tar.gz
vera_0.39-0.debian.tar.gz
vera_0.39-0.dsc
vera_0.39-0_source.changes
vera_0.39-0_amd64.deb
vera-0.39.tar.gz
vera-0.39-1.x86_64.rpm
vera-0.39.tar.xz
.built/./po/vera/it_IT.mo
.built/./po/vera/
vera-0.40.tar.bz2
vera_0.40.orig.tar.gz
vera_0.40-0.debian.tar.gz
vera_0.40-0.dsc
vera_0.40-0_source.changes
vera_0.40-0_amd64.deb
vera-0.40.tar.gz
vera-0.40-1.x86_64.rpm
vera-0.40.tar.xz
vera-1.0.0.tar.bz2
vera_1.0.0.orig.tar.gz
vera_1.0.0-0.debian.tar.gz
vera_1.0.0-0.dsc
vera_1.0.0-0_source.changes
vera_1.0.0-0_amd64.deb
vera-1.0.0.tar.gz
vera-1.0.0-1.x86_64.rpm
vera-1.0.0.tar.xz
vera-1.0.1.tar.bz2
vera_1.0.1.orig.tar.gz
vera_1.0.1-0.debian.tar.gz
vera_1.0.1-0.dsc
vera_1.0.1-0_source.changes
vera_1.0.1-0_amd64.deb
vera-1.0.1.tar.gz
vera-1.0.1-1.x86_64.rpm
vera-1.0.1.tar.xz
vera-1.0.2.tar.bz2
vera_1.0.2.orig.tar.gz
vera_1.0.2-0.debian.tar.gz
vera_1.0.2-0.dsc
vera_1.0.2-0_source.changes
vera_1.0.2-0_amd64.deb
vera-1.0.2.tar.gz
vera-1.0.2-1.x86_64.rpm
vera-1.0.2.tar.xz
vera-1.0.3.tar.bz2
vera_1.0.3.orig.tar.gz
vera_1.0.3-0.debian.tar.gz
vera_1.0.3-0.dsc
vera_1.0.3-0_source.changes
vera_1.0.3-0_amd64.deb
vera-1.0.3.tar.gz
vera-1.0.3-1.x86_64.rpm
vera-1.0.3.tar.xz
vera-1.0.4.tar.bz2
vera_1.0.4.orig.tar.gz
vera_1.0.4-0.debian.tar.gz
vera_1.0.4-0.dsc
vera_1.0.4-0_source.changes
vera_1.0.4-0_amd64.deb
vera-1.0.4.tar.gz
vera-1.0.4-1.x86_64.rpm
vera-1.0.4.tar.xz
vera-1.0.5.tar.bz2
vera_1.0.5.orig.tar.gz
vera_1.0.5-0.debian.tar.gz
vera_1.0.5-0.dsc
vera_1.0.5-0_source.changes
vera_1.0.5-0_amd64.deb
vera-1.0.5.tar.gz
vera-1.0.5-1.x86_64.rpm
vera-1.0.5.tar.xz
vera-1.0.6.tar.bz2
vera_1.0.6.orig.tar.gz
vera_1.0.6-0.debian.tar.gz
vera_1.0.6-0.dsc
vera_1.0.6-0_source.changes
vera_1.0.6-0_amd64.deb
vera-1.0.6.tar.gz
vera-1.0.6-1.x86_64.rpm
vera-1.0.6.tar.xz
vera-1.10.0.tar.bz2
vera_1.10.0.orig.tar.gz
vera_1.10.0-0.debian.tar.gz
vera_1.10.0-0.dsc
vera_1.10.0-0_source.changes
vera_1.10.0-0_amd64.deb
vera-1.10.0.tar.gz
vera-1.10.0-1.x86_64.rpm
vera-1.10.0.tar.xz
vera-1.10.1.tar.bz2
vera_1.10.1.orig.tar.gz
vera_1.10.1-0.debian.tar.gz
vera_1.10.1-0.dsc
vera_1.10.1-0_source.changes
vera_1.10.1-0_amd64.deb
vera-1.10.1.tar.gz
vera-1.10.1-1.x86_64.rpm
vera-1.10.1.tar.xz
vera-1.10.3.tar.bz2
vera_1.10.3.orig.tar.gz
vera_1.10.3-0.debian.tar.gz
vera_1.10.3-0.dsc
vera_1.10.3-0_source.changes
vera_1.10.3-0_amd64.deb
vera-1.10.3.tar.gz
vera-1.10.3-1.x86_64.rpm
vera-1.10.3.tar.xz
