plugins/
.built
vera-0.0.1.tar.bz2
vera_0.0.1.orig.tar.gz
vera_0.0.1-0.debian.tar.gz
vera_0.0.1-0.dsc
vera_0.0.1-0_source.changes
vera_0.0.1-0_amd64.deb
vera-0.0.1.tar.gz
vera-0.0.1.tar.xz
vera.pot
vera-0.20.tar.bz2
vera_0.20.orig.tar.gz
vera_0.20-0.debian.tar.gz
vera_0.20-0.dsc
vera_0.20-0_source.changes
vera_0.20-0_amd64.deb
vera-0.20.tar.gz
vera-0.20.tar.xz
vera-0.21.tar.bz2
vera_0.21.orig.tar.gz
vera_0.21-0.debian.tar.gz
vera_0.21-0.dsc
vera_0.21-0_source.changes
vera_0.21-0_amd64.deb
vera-0.21.tar.gz
vera-0.21.tar.xz
vera-0.22.tar.bz2
vera_0.22.orig.tar.gz
vera_0.22-0.debian.tar.gz
vera_0.22-0.dsc
vera_0.22-0_source.changes
vera_0.22-0_amd64.deb
vera-0.22.tar.gz
vera-0.22.tar.xz
vera-0.23.tar.bz2
vera_0.23.orig.tar.gz
vera_0.23-0.debian.tar.gz
vera_0.23-0.dsc
vera_0.23-0_source.changes
vera_0.23-0_amd64.deb
vera-0.23.tar.gz
vera-0.23.tar.xz
vera-0.24.tar.bz2
vera_0.24.orig.tar.gz
vera_0.24-0.debian.tar.gz
vera_0.24-0.dsc
vera_0.24-0_source.changes
vera_0.24-0_amd64.deb
vera-0.24.tar.gz
vera-0.24.tar.xz
vera-0.25.tar.bz2
vera_0.25.orig.tar.gz
vera_0.25-0.debian.tar.gz
vera_0.25-0.dsc
vera_0.25-0_source.changes
vera_0.25-0_amd64.deb
vera-0.25.tar.gz
vera-0.25.tar.xz
