plugins/
.built
vera-0.0.1.tar.bz2
vera_0.0.1.orig.tar.gz
vera_0.0.1-0.debian.tar.gz
vera_0.0.1-0.dsc
vera_0.0.1-0_source.changes
vera_0.0.1-0_amd64.deb
vera-0.0.1.tar.gz
vera-0.0.1.tar.xz
vera.pot
vera-0.20.tar.bz2
vera_0.20.orig.tar.gz
vera_0.20-0.debian.tar.gz
vera_0.20-0.dsc
vera_0.20-0_source.changes
vera_0.20-0_amd64.deb
vera-0.20.tar.gz
vera-0.20.tar.xz
