Source: vera-desktop
Section: x11
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: debhelper (>= 8.0.0), build-essential, bake, libx11-dev,
 libglib2.0-dev, libgee-0.8-dev, libgtk-3-dev, libpeas-dev, libxss-dev,
 libvera-xsettings-dev, libvera-xsettings-vapi, libxss-vapi, valac
Standards-Version: 3.9.5
Homepage: https://semplice-linux.org/
Vcs-Git: https://github.com/vera-desktop/vera.git
Vcs-Browser: https://github.com/vera-desktop/vera

Package: vera-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libvera-xsettings0, libvera0 (= ${binary:Version})
Description: Next-generation GTK+3 Desktop Environment - main binaries
 vera is a next generation GTK+3 desktop environment built for Semplice
 Linux.
 .
 This package contains the main binaries, along with the session files.

Package: libvera-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libvera0 (= ${binary:Version}),
 libglib2.0-dev, libpeas-dev, libgtk-3-dev, libx11-dev, libxss-dev
Description: Next-generation GTK+3 Desktop Environment - library development headers
 vera is a next generation GTK+3 desktop environment built for Semplice
 Linux.
 .
 This package contains the development headers.

Package: libvera-vapi
Architecture: all
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}, libvera-dev (= ${binary:Version})
Description: Next-generation GTK+3 Desktop Environment - library vapi files
 vera is a next generation GTK+3 desktop environment built for Semplice
 Linux.
 .
 This package contains the vapi files to use with vala applications.

Package: libvera0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Next-generation GTK+3 Desktop Environment - library
 vera is a next generation GTK+3 desktop environment built for Semplice
 Linux.
 .
 This package contains the library.
