[Desktop Entry]
Name=Vera
Comment=Log in using the Vera Desktop Environment
Exec=/usr/bin/vera-session
TryExec=/usr/bin/vera-session
Icon=vera
Type=Application
